html, body, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: #eee;
  height: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.map {
  height: calc(100vh - 60px);
}
